body {
	background-color: #FCB9B2;
	margin-bottom: 100px;
}

.banner {
	display: block;
  	margin-left: 450px;
  	width: 50%;
  	margin-top: 80px;
  	font-family: 'Sacramento', cursive;
  	font-size: 80px;
  	color:#FCB9B2;
}

.banner .centered {
 	position: absolute;
  	top: 25%;
  	left: 51%;
  	transform: translate(-50%, -50%);
}

.banner .c2 {
  	position: absolute;
  	top: 35%;
  	left: 51%;
  	transform: translate(-50%, -50%);
}

.banner .normal {
  	position: absolute;
  	top: 30%;
  	left: 51%;
  	transform: translate(-50%, -50%);
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #B23A48;
  	position: fixed;
  	top: 0;
  	width: 100%;
}

li {
  	float: left;
  	border-right: 1px solid #bbb;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 26px;
  	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  	background-color: #461220;
}

.about {
  	display: block;
  	text-align: center;
  	font-family: 'Josefin Slab', serif;
  	font-size: 24px;
}

.stars {
  	display: block;
  	text-align: left;
  	margin-left: 100px;
  	font-family: 'Josefin Slab', serif;
  	font-size: 24px;
}

.balloons {
  	display: block;
  	text-align: left;
  	margin-left: 1000px;
  	font-family: 'Josefin Slab', serif;
  	font-size: 24px;
}

.profile {
	display: block;
	margin-left: 450px;
}

.jobs {
  	display: block;
  	text-align: center;
  	font-family: 'Josefin Slab', serif;
  	font-size: 24px;
}

.row {
	margin-left: 100px;
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
  	font-size: 36px;
  	font-family: 'Josefin Slab', serif;
}

/* Create four equal columns that sits next to each other */
.column {
	margin-left: 50px; 
  	flex: 25%;
  	max-width: 25%;
}

.column img {
  	margin-top: 8px;
  	width: 100%;
}


.row2 {
	margin-left: 0px;
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
}

.column2 {
	margin-left: 20px; 
  	flex: 25%;
  	max-width: 80%;
}

.column2 img {
  	margin-top: 8px;
  	width: 100%;
}

.txt {
	display: block;
  	text-align: left;
  	font-family: 'Josefin Slab', serif;
  	font-size: 24px;
}


.row3 {
	margin-left: 100px;
  	display: flex;
  	flex-wrap: wrap;
  	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column3 {
	text-align: center;
	margin-left: 100px; 
  	flex: 25%;
  	max-width: 30%;
  	display: block;
  	text-align: left;
  	font-family: 'Josefin Slab', serif;
  	font-size: 40px;
}

.column3 img {
  	margin-top: 8px;
  	width: 100%;
}

















